@import "../variables";

:root {
    --text: #{$toucan-text};
    --highlight: #{$toucan-highlight};
    --primary: #{$toucan-primary};
    --secondary: #{$toucan-secondary};
    --background: #{$toucan-background};

    --placeholder: #{$toucan-placeholder};
    --btn-hover: #{$toucan-btn-hover};
}
