@import "variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    color: var(--text, $text);
}

body {
    background: var(--background);
    // background: #222831;
}

::placeholder {
    color: var(--placeholder, $placeholder);
}

svg {
    fill: var(--highlight, $highlight);
    &:hover {
        cursor: pointer;
    }
}

.btn {
    svg {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

input {
    background: none;
    &:focus {
        outline: none;
    }
}

a {
    text-decoration: none;
    // cursor: default;
}

::-webkit-scrollbar {
    display: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flashcard-main-container {
    width: 100vw;
    height: 100vh;
}

.test-main-container {
    width: 100vw;
    padding: 0 10%;
}

#main-separator {
    width: 85%;
    border-top: 2px solid var(--highlight, $highlight);
    margin-top: 8px;
    margin-bottom: 8px;
}

#back-btn {
    position: absolute;
    top: 5px;
    left: 5px;
}

#options-btn {
    position: absolute;
    top: 5px;
    right: 5px;
}

#edit-bunch-btn {
    position: absolute;
    bottom: 5px;
    left: 10px;
}

#options-menu {
    position: absolute;
    z-index: 10;
    top: 30px;
    right: 8px;
    width: 175px;
    height: fit-content;
    border-radius: 3px;
    border: 2px solid var(--highlight, $highlight);
    padding: 1.3px 0 5.2px 6.5px;
    font-size: 16px;
    background-color: var(--background, $background);

    .row-container {
        margin-top: 3px;
        display: flex;
        direction: row;
        align-content: center;
        justify-content: space-between;
    }

    .separator {
        width: 96%;
        margin-left: -1px;
        border-top: 1px solid var(--highlight, $highlight);
        margin-top: 3px;
        margin-bottom: 5px;
    }
}

//----------Checkbox Stuff----------
/* The container */
.checkbox-container {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15.6px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15.6px;
    width: 15.6px;
    background-color: var(--highlight, $highlight);
    border-radius: 3px;
}

// // On mouse-over
// .checkbox-container:hover input ~ .checkmark {
//     background-color: var(--btn-hover, $btn-hover);
// }

// //When the checkbox is checked
// .checkbox-container input:checked ~ .checkmark {
//     background-color: var(--highlight, $highlight);
// }

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
    left: 4.94px;
    top: 2.34px;
    width: 3.12px;
    height: 6.24px;
    border: solid var(--background, $background);
    border-width: 0 2.6px 2.6px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
//-----------end checkbox stuff-------------

#main-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 10vh; //doesnt look good perfectly centered

    h2 {
        //this is for answer and prompt
        font-size: 1rem;
        text-align: center;
        max-width: 83%;
        cursor: pointer;
    }

    #prompt-container {
        width: 83%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    #pinyin-container {
        width: 83%;
        height: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0.5rem;
    }

    #pinyin-text {
        width: 83%;
        position: absolute;
        font-size: 0.85rem;
        line-height: 0.85rem;
        max-height: 0.85rem;
        overflow: hidden;
    }

    #answer-input {
        width: 40vw;
        max-width: 70vw;
        margin-top: 5vh;
        border: 2px solid var(--highlight, $highlight);
        border-radius: 3px;
        padding: 3.9px;
        font-size: 1rem;
        text-align: center;
        font-weight: bold;
        &:focus {
            outline: none;
        }
    }

    #status-block {
        position: absolute;
        margin-top: calc(5vh + 6.9px); //margin + border of answer-inpit
        margin-left: calc(
            -1 * (1rem + 8.9px)
        ); // neagtive margin + border of answer-input, then added 2 px so not touching border
        height: calc(1rem + 3.9px); //1.4 + 0.3 * 2 from #answer-input
        width: calc(1rem + 3.9px);
        display: inline-block;
        border-radius: 3px;
        text-align: center;
        vertical-align: middle;
        line-height: calc(
            1rem + 3.9px
        ); //set equal to height of this item to center text vertically
        font-size: 1.6rem;
        font-weight: bold;
        color: var(--highlight, $highlight);
        background-color: var(--background, $background);
    }

    //idfk why i cant do this without container
    #iwr-btn-container {
        width: 100vw;
        margin-top: 3px;
    }

    #iwr-btn {
        position: absolute;
        // right: 30vw;
        right: calc((100vw - (40vw + ((1rem - 18px) * 8))) / 2);
        background: none;
        color: var(--highlight, $highlight);
        border: none;
        font-weight: bold;
        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }

    .typed-answer {
        width: 40vw;
        border: 2px solid var(--highlight, $highlight);
        border-top: none;
        border-radius: 3px;
        padding: 3.9px;
        font-size: 1rem;
        text-align: center;
    }

    #end-dialogue {
        position: absolute;
        top: 40vh;
    }
}

#bottom-container-container {
    position: absolute;
    bottom: 10px;
    height: 50px;
    width: 50vw;
    left: 25vw;
}

#bottom-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100%;

    #bottom-text {
        font-size: 13px;
        text-align: center;
        color: var(--highlight, $highlight);
    }

    #remaining-text {
        font-size: 13px;
        text-align: center;
        color: var(--highlight, $highlight);
    }
}

//--------TEST STUFF---------

.test-typed {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top: 1rem;
    text-align: left;
    position: relative;

    .test-typed-prompt {
        max-width: 45%;
        overflow-wrap: break-word;
    }

    .answer-container-test-typed {
        width: 45%;
        max-width: 45%;
        min-width: 45%;
        .test-typed-answer {
            width: 100%;
            border: 2px solid var(--highlight, $highlight);
            border-radius: 3px;
            font-size: 1rem;
            padding: 1.9px 2.5px;
            text-align: center;
        }

        .test-typed-correct-answer {
            width: 100%;
            border: 2px solid var(--highlight, $highlight);
            border-top: none;
            border-radius: 3px;
            padding: 3.9px;
            font-size: 1rem;
            text-align: center;
            overflow-wrap: break-word;
            hyphens: auto;
        }
    }

    .typed-correct-indicator-conatiner {
        justify-content: start;
    }
}

#test-score-container {
    width: 100%;

    #test-score-flex {
        width: 100%;
        margin-top: 1.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        padding: 0 1rem;

        #score-fraction {
            font-size: 2rem;
        }

        #score-percent {
            font-size: 3rem;
            border: 3px solid var(--highlight, $highlight);
            // text-decoration: underline;
            border-radius: 50%;
            padding: 0.45rem;
        }
    }
}

.TF-head,
.typed-head,
.MC-head {
    font-size: 1.5rem;
    border-bottom: 2px solid var(--highlight, $highlight);
    width: 100%;
    margin-top: 1.5rem;
}

.test-TF {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
    position: relative;

    .test-TF-prompt {
        width: 43%;
        max-width: 43%;
        overflow-wrap: break-word;
    }

    .test-TF-answer {
        width: 43%;
        max-width: 43%;
        overflow-wrap: break-word;
    }

    .test-TF-button {
        width: 1.5rem;
        height: 1.5rem;
        font-size: 1.5rem;
        line-height: 1.4rem;
        font-weight: bold;
        text-align: center;
        justify-content: center;
        border: 2px solid var(--highlight, $highlight);
        border-radius: 3px;
        background: none;
    }
}

.test-MC {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 1.3rem;

    .test-MC-prompt {
        width: 100%;
        text-align: center;
    }

    .test-MC-choice-container {
        margin-top: 0.5rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        position: relative;

        .test-MC-choice {
            padding: 3px 0.25rem;
            width: 32.5%;
            max-width: 32.5%;
            border: 2px solid var(--highlight, $highlight);
            border-radius: 3px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: none;
            font-size: 0.8rem;
            position: relative;

            .test-MC-choice-text {
                max-width: 100%;
                text-align: center;
                overflow-wrap: break-word;
                hyphens: auto;
            }
        }
    }
}

.incorrect-indicator-container {
    // width: 0 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: absolute;
    right: -1.75rem;
}

.correct-indicator {
    position: absolute;
    right: 3px;
    bottom: 0;
    font-size: 1rem;
    background: var(--background);
}

.test-separator {
    width: 100%;
    border-bottom: 2px solid var(--highlight, $highlight);
    margin-top: 1rem;
}

#test-submit {
    width: 30%;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    margin-top: 1rem;
    background: none;
    border: 2px solid var(--highlight, $highlight);
    border-radius: 3px;
    &:active {
        background: var(--btn-hover, $btn-hover);
    }
}

.hide {
    visibility: hidden;
}

.undisplay {
    display: none;
}
