@import "variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    color: var(--text, $text);
}

//TODO idfk how this works but it do
::placeholder {
    color: var(--placeholder, $placeholder);
}

svg {
    fill: var(--highlight, $highlight);
}

::-webkit-scrollbar {
    width: 0px;
}

html,
body {
    margin: 0;
    width: 100vw;
    min-height: 100vh;
    position: relative;
}

body {
    background: var(--background);
}

a {
    text-decoration: none;
    // cursor: default;
}

.new-bunch-container {
    display: flex;
    justify-content: center;
    padding-top: 20vh;
    padding-bottom: 20vh;
    width: 100vw;
}

#new-bunch-form {
    width: 75%;
}

input {
    outline: none;
    border: none;
    background: none;
}

#title-input {
    border-bottom: 2px solid var(--highlight, $highlight);
    width: 100%;
    font-size: 2rem;
    margin-bottom: 5px;
}

#lang-select {
    display: flex;
    margin: 0.5rem 0 0.8rem 0;
    width: 100%;
    justify-content: space-between;
    padding-right: 1rem;
    padding-left: 1.3rem;

    select {
        background: none;
        border: 1px solid var(--highlight, $highlight);
        border-radius: 3px;
        width: 46.5%;
    }
}

.pair {
    display: flex;
    margin: 0.5rem 0 0.8rem 0;

    p {
        padding: 0.3rem;
    }

    .input-holder {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 1rem;

        input {
            border-bottom: 1px solid var(--highlight, $highlight);
            padding: 0.3rem;
            font-size: 1.2rem;
            width: 46.5%;
        }
    }
}

#submit-add-bar {
    display: flex;
    margin: 0.5rem 0 0.8rem 0;
    align-items: center;
    justify-content: space-between;

    button {
        background: none;
        border: 2px solid var(--highlight, $highlight);
        border-radius: 3px;
        padding: 0.3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--highlight, $highlight);
        &:hover {
            cursor: pointer;
            background: var(--btn-hover, $btn-hover);
        }
    }

    .btn-holder {
        display: flex;
        flex-direction: row;
    }

    #clear-btn {
        margin-right: 0.5rem;
    }

    #export-btn {
        width: 2rem;
        height: 2rem;
        margin-right: 0.5rem;
        svg {
            width: 2rem;
            height: 2rem;
        }
    }

    #edit-pairs {
        width: 2rem;
        height: 2rem;
        margin-right: 0.5rem;
        svg {
            width: 2rem;
            height: 2rem;
        }
    }

    #plus {
        width: 2rem;
        height: 2rem;
        svg {
            width: 1rem;
            height: 1rem;
        }
    }
}

#back-btn {
    position: fixed;
    top: 5px;
    left: 5px;
    &:hover {
        cursor: pointer;
    }
}

#scroll-down-btn {
    position: fixed;
    bottom: 5px;
    right: 5px;
    &:hover {
        cursor: pointer;
    }
}

#top-right-btn {
    &:hover {
        cursor: pointer;
    }
    position: fixed;
    top: 5px;
    right: 5px;
}

form {
    width: 70vw;
}

#import-form {
    position: fixed;
    width: 75vw;
    height: 75vh;
    top: 12.5vh;
    left: 12.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 6px;

    textarea {
        font-size: 1.1rem;
        border-radius: 6px;
        padding: 0.1rem 0.5rem;
        border: 2px solid var(--highlight, $highlight);
        resize: none;
        background: none;
        &:focus {
            outline: none;
        }
    }

    #import-text {
        width: 80%;
        height: 60%;
    }

    #import-submit-btn {
        width: 30%;
        margin-top: 3%;
        background: none;
        border-radius: 3px;
        border: 2px solid var(--highlight, $highlight);
        padding: 0.1rem 0;
        outline: none;
    }

    #info-icon {
        width: 1.5rem;
        height: 1.5rem;
        border: 2px solid var(--highlight, $highlight);
        border-radius: 50%;
        margin-left: 0.2rem;
    }

    #import-info-menu {
        position: absolute;
        margin-left: 0.2rem;
        font-size: 1rem;
        width: 20vw;
    }
}

//-----for both inport and export------
.input-and-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.horizontal-container {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;
}

.input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    input {
        width: 60px;
        text-align: center;
        font-size: 1.1rem;
        border-radius: 6px;
        border: 2px solid var(--highlight, $highlight);
        padding: 0.1rem;
    }
}
//---------------------------

#export-menu {
    position: fixed;
    width: 75vw;
    height: 75vh;
    top: 12.5vh;
    left: 12.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 6px;

    textarea {
        font-size: 1.1rem;
        border-radius: 6px;
        padding: 0.1rem 0.5rem;
        border: 2px solid var(--highlight, $highlight);
        resize: none;
        background: none;
        &:focus {
            outline: none;
        }
    }

    #export-text {
        width: 80%;
        height: 60%;
    }

    #info-icon-export {
        width: 1.5rem;
        height: 1.5rem;
        border: 2px solid var(--highlight, $highlight);
        border-radius: 50%;
        margin-left: 0.2rem;
    }

    #export-info-menu {
        position: absolute;
        margin-left: 0.2rem;
        font-size: 1rem;
        width: 20vw;
    }
}

.pair-delete-btn {
    // margin-top: 3px;
    // padding-top: 2px;
    height: 24px;
    svg {
        pointer-events: none;
    }
    &:hover {
        cursor: pointer;
    }
}

#title-valid-message {
    position: absolute;
    width: 80vw;
    left: 10vw;
    top: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#import-valid-message {
    position: fixed;
    width: 80vw;
    left: 10vw;
    top: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#delete-menu {
    position: absolute;
    width: 80vw;
    height: 15vh;
    left: 10vw;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    #delete-btns-container {
        margin-top: 1.5vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;

        button {
            &:hover {
                cursor: pointer;
                background: var(--btn-hover, $btn-hover);
            }
            background: none;
            border: solid 2px var(--highlight, $highlight);
            border-radius: 3px;
            width: 10%;
            padding: 0.1rem;
        }
    }
}

.hide {
    visibility: hidden;
}

.undisplay {
    display: none;
}

//----------Checkbox Stuff----------
/* The container */
.checkbox-container {
    display: block;
    position: relative;
    // padding-left: 25px;
    margin-right: 2.5vw;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1.2rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.2rem;
    width: 1.2rem;
    background-color: var(--highlight, $highlight);
    border-radius: 3px;
}

// On mouse-over
// .checkbox-container:hover input ~ .checkmark {
//     background-color: var(--btn-hover, $btn-hover);
// }

// //When the checkbox is checked
// .checkbox-container input:checked ~ .checkmark {
//     background-color: var(--highlight, $highlight);
// }

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
    left: 0.38rem;
    top: 0.18rem;
    width: 0.24rem;
    height: 0.48rem;
    border: solid var(--background, $background);
    border-width: 0 0.2rem 0.2rem 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
//-----------end checkbox stuff-------------
