$primary-pink: #f1b1f9;
$primary-blue: #37d7fb;
$primary-purple: #a586ed;
$dark-pink: #ea8df6;
$dark-blue: #0fcffa;
$dark-purple: #8151af;
$dark: #393e41;
$darker: #242627;
$correct-green: #b2cc3e;
$incorrect-red: #ea4848;

//Default Values
$text: $dark;
$highlight: $dark;
$primary: #e7e6e1;
$secondary: #c8c6c6;
$background: #e7e6e1;
$placeholder: lighten($text, 20%);
$btn-hover: lighten($highlight, 40%);

//Dark Values
// $dark-text: #00adb5;
$dark-text: #ccc;
$dark-highlight: #ccc;
$dark-primary: #222831;
$dark-secondary: #393e46;
$dark-background: #222831;
$dark-placeholder: darken($dark-text, 20%);
$dark-btn-hover: darken($dark-highlight, 40%);

//Beach
$lemon-mint-text: #548cff;
$lemon-mint-highlight: #548cff;
$lemon-mint-primary: #93ffd8;
$lemon-mint-secondary: #cfffdc;
$lemon-mint-background: #fffdde;
$lemon-mint-placeholder: lighten($lemon-mint-text, 20%);
$lemon-mint-btn-hover: lighten($lemon-mint-highlight, 20%);

//Sea Mist
$sea-mist-text: #7ac7c7;
$sea-mist-highlight: #7ac7c7;
$sea-mist-primary: #fcd1d1;
$sea-mist-secondary: #ece2e1;
$sea-mist-background: #c4f8f0;
$sea-mist-placeholder: lighten($sea-mist-text, 10%);
$sea-mist-btn-hover: lighten($sea-mist-highlight, 20%);

//Beehive
$beehive-text: #7e370c;
$beehive-highlight: #7e370c;
$beehive-primary: #fdd054;
$beehive-secondary: #fac32b;
$beehive-background: #fcc326;
$beehive-placeholder: lighten($beehive-text, 35%);
$beehive-btn-hover: lighten($beehive-text, 20%);

//Houseplant
$houseplant-text: #086972;
$houseplant-highlight: #086972;
$houseplant-primary: #17b978;
$houseplant-secondary: #a7ff83;
$houseplant-background: #a7ff83;
$houseplant-placeholder: #17b978;
$houseplant-btn-hover: #17b978;

//Cafe
$cafe-text: #876445;
$cafe-highlight: #876445;
$cafe-primary: #ca965c;
$cafe-secondary: #eec373;
$cafe-background: #f4dfba;
$cafe-placeholder: lighten($cafe-text, 20%);
$cafe-btn-hover: $cafe-secondary;

//Terminal
$terminal-text: #7bf950;
$terminal-highlight: #4b39d8;
$terminal-primary: #000;
$terminal-secondary: #000aaa; //c44ccc
$terminal-background: #000;
$terminal-placeholder: darken($terminal-text, 40%);
$terminal-btn-hover: darken($terminal-highlight, 30%);

//Neon
$dream-text: #0ebcc6;
$dream-highlight: #0ebcc6;
$dream-primary: #7a04eb;
$dream-secondary: #a204eb; //c44ccc
$dream-background: #091933;
$dream-placeholder: darken($dream-text, 20%);
$dream-btn-hover: darken($dream-highlight, 20%);

//Construction
$construction-text: #fddb3a;
$construction-highlight: #fddb3a;
$construction-primary: #41444b;
$construction-secondary: #52575d; //c44ccc
$construction-background: #52575d;
$construction-placeholder: darken($construction-text, 25%);
$construction-btn-hover: darken($construction-highlight, 40%);

//TODO must stay at 1.4 rn because status button doesnt work at other sizes
// $card-font-size: 1.4rem;
$card-font-size: 26px;

$hex-width: 150px;
$hex-side: $hex-width / 1.73;
$border-thickness: 5px;
$hex-row-margin: $hex-width * -0.255 - (0.707 * $border-thickness);
$hex-container-margin: $hex-width * -0.068 - ($border-thickness / 2);

$hex-btn-width: 45px;
$hex-btn-side: $hex-btn-width / 1.73;
$border-btn-thickness: 2px;
$hex-btn-row-margin: $hex-btn-width * -0.255 - (0.707 * $border-btn-thickness);
$hex-btn-container-margin: $hex-btn-width * -0.068 - ($border-btn-thickness / 2);
