@import "variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    color: var(--text, $text);
}

body {
    background: var(--background);
    // background: #222831;
}

::placeholder {
    color: var(--placeholder, $placeholder);
}

svg {
    fill: var(--highlight, $highlight);
    &:hover {
        cursor: pointer;
    }
}

.btn {
    svg {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

input {
    background: none;
}

a {
    text-decoration: none;
    // cursor: default;
}

::-webkit-scrollbar {
    display: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-container {
    width: 100vw;
    height: 100vh;
}

#main-separator {
    width: 85%;
    border-top: 2px solid var(--highlight, $highlight);
    margin-top: 8px;
    margin-bottom: 8px;
}

#back-btn {
    position: absolute;
    top: 5px;
    left: 5px;
}

#options-btn {
    position: absolute;
    top: 5px;
    right: 5px;
}

#edit-bunch-btn {
    position: absolute;
    bottom: 5px;
    left: 10px;
}

#options-menu {
    position: absolute;
    top: 30px;
    right: 8px;
    width: 25%;
    height: fit-content;
    border-radius: 3px;
    border: 2px solid var(--highlight, $highlight);
    padding: 1.3px 0 5.2px 6.5px;
    font-size: 16px;
    background-color: var(--background, $background);

    .row-container {
        margin-top: 3px;
        display: flex;
        direction: row;
        align-content: center;
        justify-content: space-between;
    }

    .separator {
        width: 96%;
        margin-left: -1px;
        border-top: 1px solid var(--highlight, $highlight);
        margin-top: 3px;
        margin-bottom: 5px;
    }
}

//----------Checkbox Stuff----------
/* The container */
.checkbox-container {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15.6px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15.6px;
    width: 15.6px;
    background-color: var(--highlight, $highlight);
    border-radius: 3px;
}

// // On mouse-over
// .checkbox-container:hover input ~ .checkmark {
//     background-color: var(--btn-hover, $btn-hover);
// }

// //When the checkbox is checked
// .checkbox-container input:checked ~ .checkmark {
//     background-color: var(--highlight, $highlight);
// }

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
    left: 4.94px;
    top: 2.34px;
    width: 3.12px;
    height: 6.24px;
    border: solid var(--background, $background);
    border-width: 0 2.6px 2.6px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
//-----------end checkbox stuff-------------

#flashcard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 10vh; //doesnt look good perfectly centered

    h2 {
        //this is for answer and prompt
        font-size: 1rem;
        text-align: center;
        max-width: 83%;
        cursor: pointer;
    }

    #prompt-container {
        width: 83%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    #pinyin-container {
        width: 83%;
        height: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0.5rem;
    }

    #pinyin-text {
        width: 83%;
        position: absolute;
        font-size: 0.85rem;
        line-height: 0.85rem;
        max-height: 0.85rem;
        overflow: hidden;
    }

    #answer-input {
        width: calc(40vw + ((1rem - 18px) * 8));
        margin-top: 5vh;
        border: 2px solid var(--highlight, $highlight);
        border-radius: 3px;
        padding: 3.9px;
        font-size: 1rem;
        text-align: center;
        font-weight: bold;
        &:focus {
            outline: none;
        }
    }

    #status-block {
        position: absolute;
        margin-top: calc(5vh + 6.9px); //margin + border of answer-inpit
        margin-left: calc(
            -1 * (1rem + 8.9px)
        ); // neagtive margin + border of answer-input, then added 2 px so not touching border
        height: calc(1rem + 3.9px); //1.4 + 0.3 * 2 from #answer-input
        width: calc(1rem + 3.9px);
        display: inline-block;
        border-radius: 3px;
        text-align: center;
        vertical-align: middle;
        line-height: calc(
            1rem + 3.9px
        ); //set equal to height of this item to center text vertically
        font-size: 1.6rem;
        font-weight: bold;
        color: var(--highlight, $highlight);
        background-color: var(--background, $background);
    }

    //idfk why i cant do this without container
    #iwr-btn-container {
        width: 100vw;
        margin-top: 3px;
    }

    #iwr-btn {
        position: absolute;
        // right: 30vw;
        right: calc((100vw - (40vw + ((1rem - 18px) * 8))) / 2);
        background: none;
        color: var(--highlight, $highlight);
        border: none;
        font-weight: bold;
        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }

    .typed-answer {
        width: calc(40vw + ((1rem - 18px) * 8));
        border: 2px solid var(--highlight, $highlight);
        border-top: none;
        border-radius: 3px;
        padding: 3.9px;
        font-size: 1rem;
        text-align: center;
    }

    #end-dialogue {
        position: absolute;
        top: 40vh;
    }
}

#bottom-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    bottom: 10px;
    height: 50px;
    width: 50vw;
    left: 25vw;

    #bottom-text {
        font-size: 13px;
        text-align: center;
        color: var(--highlight, $highlight);
    }

    #remaining-text {
        font-size: 13px;
        text-align: center;
        color: var(--highlight, $highlight);
    }
}

.hide {
    visibility: hidden;
}

.undisplay {
    display: none;
}
