@import "variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    color: $dark;
}

::-webkit-scrollbar {
    width: 0px;
}

html,
body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

a {
    text-decoration: none;
    // cursor: default;
}

.new-bunch-container {
    display: flex;
    justify-content: center;
    padding-top: 25vh;
    padding-bottom: 25vh;
}

input {
    outline: none;
    border: none;
}

#title-input {
    border-bottom: 2px solid $dark;
    width: 100%;
    font-size: 2rem;
    margin-bottom: 5px;
    color: $dark;
}

.pair {
    display: flex;
    margin: 0.5rem 0 0.8rem 0;

    p {
        padding: 0.3rem;
        color: $dark;
    }

    .input-holder {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 1rem;

        input {
            border-bottom: 1px solid $dark;
            padding: 0.3rem;
            font-size: 1.2rem;
            width: 46%;
        }
    }

    .spacer {
        width: 3rem;
    }
}

#submit-add-bar {
    align-items: center;
    justify-content: space-between;

    button {
        background: none;
        border: 2px solid $dark;
        border-radius: 3px;
        padding: 0.3rem;
        color: $dark;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
            cursor: pointer;
            background: $btn-hover-color;
        }
    }

    #btn-holder {
        display: flex;
        flex-direction: row;

        #edit-pairs {
            width: 2rem;
            height: 2rem;
            margin-right: 0.5rem;
            svg {
                fill: $dark;
                width: 2rem;
                height: 2rem;
            }
        }

        #plus {
            width: 2rem;
            height: 2rem;
            svg {
                fill: $dark;
                width: 1rem;
                height: 1rem;
            }
        }
    }
}

#back-btn {
    svg {
        fill: $dark;
    }
    position: fixed;
    top: 5px;
    left: 5px;
}

#top-right-btn {
    svg {
        fill: $dark;
    }
    &:hover {
        cursor: pointer;
    }
    position: fixed;
    top: 5px;
    right: 5px;
}

form {
    width: 70vw;
}

#import-form {
    position: fixed;
    width: 75vw;
    height: 75vh;
    top: 12.5vh;
    left: 12.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background: white;

    textarea {
        font-size: 1.1rem;
        border-radius: 6px;
        padding: 0.1rem;
        border: 2px solid $dark;
        resize: none;
        &:focus {
            outline: none;
        }
    }

    #import-text {
        width: 80%;
        height: 60%;
    }

    .horizontal-container {
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 2%;
    }

    .input-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        input {
            width: 60px;
            text-align: center;
            font-size: 1.1rem;
            border-radius: 6px;
            border: 2px solid $dark;
            padding: 0.1rem;
        }
    }
    //DNE anymore delete this
    // #import-close-btn {
    //     position: absolute;
    //     top: 0.2rem;
    //     left: 0.2rem;
    //     width: 1.8em;
    //     height: 1.8rem;
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     background: none;
    //     border: none;
    //     svg {
    //         fill: $dark;
    //     }
    // }

    #import-submit-btn {
        width: 30%;
        margin-top: 3%;
        background: none;
        border-radius: 3px;
        border: $dark 2px solid;
        padding: 0.1rem 0;
        outline: none;
    }

    #info-icon {
        // position: absolute;
        fill: $dark;
        width: 1.5rem;
        height: 1.5rem;
        border: 2px solid $dark;
        border-radius: 50%;
        margin-left: 0.2rem;
    }

    .input-and-icon-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #import-info-menu {
        position: absolute;
        color: $dark;
        margin-left: 0.2rem;
        font-size: 1rem;
        width: 20vw;
    }
}

.pair-delete-btn {
    // margin-top: 3px;
    // padding-top: 2px;
    height: 24px;
    svg {
        fill: $dark;
        pointer-events: none;
    }
    &:hover {
        cursor: pointer;
    }
}

.hide {
    visibility: hidden;
}

.undisplay {
    display: none;
}
