@import "variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    color: var(--text, $text);
}

body {
    background: var(--background, $background);
    // background-color: #222831;
}

::placeholder {
    color: var(--placeholder, $placeholder);
}

svg {
    fill: var(--highlight, $highlight);
}

input {
    background: none;
}

a {
    text-decoration: none;
    // cursor: default;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-container {
    margin-top: calc(#{$hex-row-margin} / 2);
    width: 100vw;
    height: 100vh;
}

.hex-btn {
    width: $hex-btn-width;
    height: $hex-btn-width;
    margin-left: $hex-btn-container-margin; //fixes container being bigger than hexagon
    margin-right: $hex-btn-container-margin; //fixes container being bigger than hexagon

    .hex-center {
        top: $border-btn-thickness;
        left: $border-btn-thickness;
        width: calc(100% - (#{$border-btn-thickness} * 2));
        height: calc(100% - (#{$border-btn-thickness} * 2));
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.btn {
    svg {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

//for baby hex inside big hex can delete
// .hex-btn-internal {
//     position: absolute;
//     bottom: 0;
// }

.edit-icons-container {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: calc(25% - 20px);

    a {
        margin: 0 0.3rem;
    }

    .delete-btn {
        &:hover {
            cursor: pointer;
        }
        svg {
            pointer-events: none;
        }
    }
}

#delete-menu {
    position: absolute;
    width: 80%;
    height: 15%;
    left: 10%;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    #delete-btns-container {
        margin-top: 1.5vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;

        button {
            &:hover {
                cursor: pointer;
                background: var(--btn-hover, $btn-hover);
            }
            background: none;
            border: solid $highlight 2px;
            border-radius: 3px;
            width: 10%;
            padding: 0.1rem;
        }
    }
}

//These values are all dif on the horizontal bc the svgs r centered weird
#settings-btn {
    position: absolute;
    bottom: 5px;
    right: 8px;
}

#new-bunch-btn {
    position: absolute;
    top: 5px;
    left: 7px;
}

#edit-bunch-btn {
    position: absolute;
    bottom: 5px;
    left: 10px;
}

#search-bunch-btn {
    position: absolute;
    top: 5px;
    right: 8px;
    &:hover {
        cursor: pointer;
    }
}

#search-input {
    position: absolute;
    top: 8px;
    right: 34px;
    text-align: left;
    padding: 0.1rem;
    min-width: 50px;
    // border-radius: 20px;
    width: fit-content;
    border: none;
    border-bottom: solid 1px $highlight;
    &:focus {
        outline: none;
    }
}

#no-matches {
    text-align: center;
}

.hex-row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: $hex-row-margin;
}

.hex-container {
    width: $hex-width;
    height: $hex-width;
    margin-left: $hex-container-margin; //fixes container being bigger than hexagon
    margin-right: $hex-container-margin; //fixes container being bigger than hexagon
    display: flex;
    align-items: center;
    justify-content: center;
}

.hex {
    display: block;
    position: relative;
    width: 100%;
    height: 100%; /* width * 0.866 */
    background: var(--highlight, $highlight);
    box-sizing: border-box;
    text-align: center;
    clip-path: polygon(
        6.7% 25%,
        6.7% 75%,
        50% 100%,
        93.3% 75%,
        93.3% 25%,
        50% 0%
    );
    -webkit-clip-path: polygon(
        6.7% 25%,
        6.7% 75%,
        50% 100%,
        93.3% 75%,
        93.3% 25%,
        50% 0%
    );
    -moz-clip-path: polygon(
        6.7% 25%,
        6.7% 75%,
        50% 100%,
        93.3% 75%,
        93.3% 25%,
        50% 0%
    );
}

//used for hover event
.hex-center {
    position: absolute;
    background-color: var(--primary, $primary);
    top: $border-thickness;
    left: $border-thickness;
    width: calc(100% - (#{$border-thickness} * 2));
    height: calc(100% - (#{$border-thickness} * 2));
    clip-path: polygon(
        6.7% 25%,
        6.7% 75%,
        50% 100%,
        93.3% 75%,
        93.3% 25%,
        50% 0%
    );
    -webkit-clip-path: polygon(
        6.7% 25%,
        6.7% 75%,
        50% 100%,
        93.3% 75%,
        93.3% 25%,
        50% 0%
    );
    -moz-clip-path: polygon(
        6.7% 25%,
        6.7% 75%,
        50% 100%,
        93.3% 75%,
        93.3% 25%,
        50% 0%
    );
}

.hex-content {
    position: absolute;
    margin-top: 25%;
    margin-left: 6.7%;
    width: 86.6%;
    height: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h3 {
        font-size: 1.3rem;
    }
    p {
        font-size: 1rem;
        margin-top: 0.5rem;
    }
}

.hex-center:hover {
    background: var(--secondary, $secondary);
}

//--------stuff for toast--------
// #bottom-text {
//     position: absolute;
//     bottom: 10px;
//     text-align: center;
//     padding: 3px 8px;
//     border-radius: 3px;
// }

.scroll-btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    // width: 24px;
    // height: 24px;
    top: calc(50% - 24px);
}

// .scroll-btn:hover {
//     cursor: pointer;
// }

#scroll-forward {
    right: 1rem;
}

#scroll-back {
    left: 1rem;
}

.hide {
    visibility: hidden;
}

//Stuff for when there are no bunches

.no-bunches-hex-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h3 {
        font-size: 1.3rem;
        text-align: center;
    }
}
