* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
  color: var(--text, #393e41);
}

body {
  background: var(--background);
}

::placeholder {
  color: var(--placeholder, #697277);
}

svg {
  fill: var(--highlight, #393e41);
}
svg:hover {
  cursor: pointer;
}

.btn svg {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  background: none;
}
input:focus {
  outline: none;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flashcard-main-container {
  width: 100vw;
  height: 100vh;
}

.test-main-container {
  width: 100vw;
  padding: 0 10%;
}

#main-separator {
  width: 85%;
  border-top: 2px solid var(--highlight, #393e41);
  margin-top: 8px;
  margin-bottom: 8px;
}

#back-btn {
  position: absolute;
  top: 5px;
  left: 5px;
}

#options-btn {
  position: absolute;
  top: 5px;
  right: 5px;
}

#edit-bunch-btn {
  position: absolute;
  bottom: 5px;
  left: 10px;
}

#options-menu {
  position: absolute;
  z-index: 10;
  top: 30px;
  right: 8px;
  width: 175px;
  height: fit-content;
  border-radius: 3px;
  border: 2px solid var(--highlight, #393e41);
  padding: 1.3px 0 5.2px 6.5px;
  font-size: 16px;
  background-color: var(--background, #e7e6e1);
}
#options-menu .row-container {
  margin-top: 3px;
  display: flex;
  direction: row;
  align-content: center;
  justify-content: space-between;
}
#options-menu .separator {
  width: 96%;
  margin-left: -1px;
  border-top: 1px solid var(--highlight, #393e41);
  margin-top: 3px;
  margin-bottom: 5px;
}

/* The container */
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15.6px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15.6px;
  width: 15.6px;
  background-color: var(--highlight, #393e41);
  border-radius: 3px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 4.94px;
  top: 2.34px;
  width: 3.12px;
  height: 6.24px;
  border: solid var(--background, #e7e6e1);
  border-width: 0 2.6px 2.6px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#main-container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 10vh;
}
#main-container h2 {
  font-size: 1rem;
  text-align: center;
  max-width: 83%;
  cursor: pointer;
}
#main-container #prompt-container {
  width: 83%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#main-container #pinyin-container {
  width: 83%;
  height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5rem;
}
#main-container #pinyin-text {
  width: 83%;
  position: absolute;
  font-size: 0.85rem;
  line-height: 0.85rem;
  max-height: 0.85rem;
  overflow: hidden;
}
#main-container #typed-container {
  width: 40vw;
  min-width: 40vw;
  max-width: 70vw;
  position: relative;
}
#main-container #answer-input {
  width: 100%;
  margin-top: 5vh;
  border: 2px solid var(--highlight, #393e41);
  border-radius: 3px;
  padding: 3.9px;
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
  outline: 0;
}
#main-container #answer-input:focus {
  outline: none;
}
#main-container #answer-input-span {
  position: absolute;
  left: -9999px;
  display: inline-block;
  min-width: 40vw;
  max-width: 70vw;
  padding: 3.9px;
  font-size: 1rem;
}
#main-container #status-block {
  position: absolute;
  margin-top: calc(5vh + 6.9px);
  margin-left: calc(-1 * (1rem + 8.9px));
  height: calc(1rem + 3.9px);
  width: calc(1rem + 3.9px);
  display: inline-block;
  border-radius: 3px;
  text-align: center;
  vertical-align: middle;
  line-height: calc(1rem + 3.9px);
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--highlight, #393e41);
  background-color: var(--background, #e7e6e1);
}
#main-container #iwr-btn-container {
  width: 100vw;
  margin-top: 3px;
}
#main-container #iwr-btn {
  position: absolute;
  right: 0;
  background: none;
  color: var(--highlight, #393e41);
  border: none;
  font-weight: bold;
}
#main-container #iwr-btn:hover {
  text-decoration: underline;
  cursor: pointer;
}
#main-container #answer {
  max-width: 100%;
}
#main-container .typed-answer {
  width: 100%;
  border: 2px solid var(--highlight, #393e41);
  border-top: none;
  border-radius: 3px;
  padding: 3.9px;
  font-size: 1rem;
  text-align: center;
}
#main-container #end-dialogue {
  position: absolute;
  top: 40vh;
}

#bottom-container-container {
  position: absolute;
  bottom: 10px;
  height: 50px;
  width: 50vw;
  left: 25vw;
}

#bottom-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
}
#bottom-container #bottom-text {
  font-size: 13px;
  text-align: center;
  color: var(--highlight, #393e41);
}
#bottom-container #remaining-text {
  font-size: 13px;
  text-align: center;
  color: var(--highlight, #393e41);
}

.test-typed {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-top: 1rem;
  text-align: left;
  position: relative;
}
.test-typed .test-typed-prompt {
  max-width: 45%;
  overflow-wrap: break-word;
}
.test-typed .answer-container-test-typed {
  width: 45%;
  max-width: 45%;
  min-width: 45%;
}
.test-typed .answer-container-test-typed .test-typed-answer {
  width: 100%;
  border: 2px solid var(--highlight, #393e41);
  border-radius: 3px;
  font-size: 1rem;
  padding: 1.9px 2.5px;
  text-align: center;
}
.test-typed .answer-container-test-typed .test-typed-correct-answer {
  width: 100%;
  border: 2px solid var(--highlight, #393e41);
  border-top: none;
  border-radius: 3px;
  padding: 3.9px;
  font-size: 1rem;
  text-align: center;
  overflow-wrap: break-word;
  hyphens: auto;
}
.test-typed .typed-correct-indicator-conatiner {
  justify-content: start;
}

#test-score-container {
  width: 100%;
}
#test-score-container #test-score-flex {
  width: 100%;
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0 1rem;
}
#test-score-container #test-score-flex #score-fraction {
  font-size: 2rem;
}
#test-score-container #test-score-flex #score-percent {
  font-size: 3rem;
  border: 3px solid var(--highlight, #393e41);
  border-radius: 50%;
  padding: 0.45rem;
}

.TF-head,
.typed-head,
.MC-head {
  font-size: 1.5rem;
  border-bottom: 2px solid var(--highlight, #393e41);
  width: 100%;
  margin-top: 1.5rem;
}

.test-TF {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
  position: relative;
}
.test-TF .test-TF-prompt {
  width: 43%;
  max-width: 43%;
  overflow-wrap: break-word;
}
.test-TF .test-TF-answer {
  width: 43%;
  max-width: 43%;
  overflow-wrap: break-word;
}
.test-TF .test-TF-button {
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1.5rem;
  line-height: 1.4rem;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  border: 2px solid var(--highlight, #393e41);
  border-radius: 3px;
  background: none;
}

.test-MC {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1.3rem;
}
.test-MC .test-MC-prompt {
  width: 100%;
  text-align: center;
}
.test-MC .test-MC-choice-container {
  margin-top: 0.5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  position: relative;
}
.test-MC .test-MC-choice-container .test-MC-choice {
  padding: 3px 0.25rem;
  width: 32.5%;
  max-width: 32.5%;
  border: 2px solid var(--highlight, #393e41);
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  font-size: 0.8rem;
  position: relative;
}
.test-MC .test-MC-choice-container .test-MC-choice .test-MC-choice-text {
  max-width: 100%;
  text-align: center;
  overflow-wrap: break-word;
  hyphens: auto;
}

.incorrect-indicator-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: absolute;
  right: -1.75rem;
}

.correct-indicator {
  position: absolute;
  right: 3px;
  bottom: 0;
  font-size: 1rem;
  background: var(--background);
}

.test-separator {
  width: 100%;
  border-bottom: 2px solid var(--highlight, #393e41);
  margin-top: 1rem;
}

.test-bottom-btn {
  width: 35%;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  margin-top: 1rem;
  background: none;
  border: 2px solid var(--highlight, #393e41);
  border-radius: 3px;
}
.test-bottom-btn:active {
  background: var(--btn-hover, #9da5a9);
}

.test-error-msg {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10vh;
}

#num-test-questions {
  font-size: 16px;
  height: 18px;
  width: 36px;
  border-radius: 3px;
  border: 2px solid var(--highlight, #393e41);
  margin-right: 8px;
  padding: 2px;
  text-align: center;
}

.hide {
  visibility: hidden;
}

.undisplay {
  display: none;
}