* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
  color: var(--text, #393e41);
}

html {
  font-size: 16.9px;
}

body {
  background: var(--background);
}

::placeholder {
  color: var(--placeholder, #697277);
}

svg {
  fill: var(--highlight, #393e41);
}

input {
  background: none;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-container {
  padding-bottom: calc(2 * -41.785px / -2);
  width: 100vw;
  height: 100vh;
}

.main-list {
  margin-top: calc(2 * -41.785px / -2);
  overflow-y: scroll;
  overflow-x: hidden;
  width: 75%;
}
.main-list::-webkit-scrollbar {
  display: none;
}
.main-list .li-bunch {
  border: solid 2px var(--highlight, #393e41);
  border-radius: 3px;
  margin: 3px 0;
  padding: 1px 5px;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
}
.main-list .li-bunch .standard-li-display {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
}
.main-list .li-bunch h3 {
  -ms-word-break: break-word;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
.main-list .li-bunch .list-link {
  width: 88%;
}
.main-list .li-bunch .li-edit-icons-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 5px;
}

.list-create-new-bunch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 2px var(--highlight, #393e41);
  border-radius: 3px;
  padding: 5px 5px;
}
.list-create-new-bunch:hover {
  cursor: pointer;
  background: var(--btn-hover, #9da5a9);
}

.hex-btn {
  width: 45px;
  height: 45px;
  margin-left: -4.06px;
  margin-right: -4.06px;
}
.hex-btn .hex-center {
  top: 2px;
  left: 2px;
  width: calc(100% - (2px * 2));
  height: calc(100% - (2px * 2));
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn svg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-icons-container {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: calc(25% - 20px);
}
.edit-icons-container a {
  margin: 0 3.9px;
}

.delete-btn:hover {
  cursor: pointer;
}
.delete-btn svg {
  pointer-events: none;
}

#delete-menu {
  position: absolute;
  width: 80%;
  height: 17%;
  left: 10%;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#delete-menu h3 {
  font-size: 13px;
  overflow: hidden;
  text-align: center;
}
#delete-menu #delete-btns-container {
  margin-top: 1.5vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#delete-menu #delete-btns-container button {
  background: none;
  border: solid 2px var(--highlight, #393e41);
  border-radius: 3px;
  width: 10%;
  padding: 1.3px;
}
#delete-menu #delete-btns-container button:hover {
  cursor: pointer;
  background: var(--btn-hover, #9da5a9);
}

.li-delete-menu {
  text-align: center;
}
.li-delete-menu h3 {
  font-size: 17px;
}
.li-delete-menu button {
  background: none;
  border: solid 2px var(--highlight, #393e41);
  border-radius: 3px;
  width: 10%;
  padding: 1px 1.3px;
}
.li-delete-menu button:hover {
  cursor: pointer;
  background: var(--btn-hover, #9da5a9);
}

#settings-btn {
  position: absolute;
  bottom: 5px;
  right: 8px;
}

#new-bunch-btn {
  position: absolute;
  top: 5px;
  left: 7px;
}

#edit-bunch-btn {
  position: absolute;
  bottom: 5px;
  left: 10px;
}
#edit-bunch-btn:hover {
  cursor: pointer;
}

#search-bunch-btn {
  position: absolute;
  top: 5px;
  right: 8px;
}
#search-bunch-btn:hover {
  cursor: pointer;
}

#search-input {
  position: absolute;
  top: 8px;
  right: 34px;
  text-align: left;
  padding: 1.3px;
  min-width: 50px;
  width: fit-content;
  border: none;
  border-bottom: solid 1px var(--highlight, #393e41);
}
#search-input:focus {
  outline: none;
}

#search-input.hide {
  animation: 0.25s SearchContract ease-in;
}

#search-input:not(.hide) {
  animation: 0.25s SearchExpand ease-out;
}

#search-input.hide.preload {
  animation-duration: 0s !important;
}

@keyframes SearchExpand {
  from {
    transform: scaleX(0);
    visibility: hidden;
  }
  to {
    transform: scaleX(1);
    visibility: visible;
  }
}
@keyframes SearchContract {
  from {
    transform: scaleX(1);
    visibility: visible;
  }
  to {
    transform: scaleX(0);
    visibility: hidden;
  }
}
#no-matches {
  text-align: center;
}

.hex-row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -41.785px;
}

.hex-container {
  width: 150px;
  height: 150px;
  margin-left: -12.7px;
  margin-right: -12.7px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hex {
  display: block;
  position: relative;
  width: 100%;
  height: 100%; /* width * 0.866 */
  background: var(--highlight, #393e41);
  box-sizing: border-box;
  text-align: center;
  clip-path: polygon(6.7% 25%, 6.7% 75%, 50% 100%, 93.3% 75%, 93.3% 25%, 50% 0%);
  -webkit-clip-path: polygon(6.7% 25%, 6.7% 75%, 50% 100%, 93.3% 75%, 93.3% 25%, 50% 0%);
  -moz-clip-path: polygon(6.7% 25%, 6.7% 75%, 50% 100%, 93.3% 75%, 93.3% 25%, 50% 0%);
}

.hex-center {
  position: absolute;
  background-color: var(--primary, #e7e6e1);
  top: 5px;
  left: 5px;
  width: calc(100% - (5px * 2));
  height: calc(100% - (5px * 2));
  clip-path: polygon(6.7% 25%, 6.7% 75%, 50% 100%, 93.3% 75%, 93.3% 25%, 50% 0%);
  -webkit-clip-path: polygon(6.7% 25%, 6.7% 75%, 50% 100%, 93.3% 75%, 93.3% 25%, 50% 0%);
  -moz-clip-path: polygon(6.7% 25%, 6.7% 75%, 50% 100%, 93.3% 75%, 93.3% 25%, 50% 0%);
}

.hex-content {
  position: absolute;
  margin-top: 25%;
  margin-left: 6.7%;
  width: 86.6%;
  height: 50%;
  max-height: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.hex-content h3 {
  font-size: 1rem;
  line-height: 1.2rem;
  max-height: 2.4rem;
  width: 100%;
  overflow: hidden;
  overflow-wrap: break-word;
}
.hex-content p {
  font-size: 0.75rem;
  margin-top: 6.5px;
}

.hex-center:hover {
  background: var(--secondary, #c8c6c6);
}

.scroll-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  top: calc(50% - 24px);
}
.scroll-btn:hover {
  cursor: pointer;
}

#scroll-forward {
  right: 13px;
}

#scroll-back {
  left: 13px;
}

.hide {
  visibility: hidden;
}

.undisplay {
  display: none !important;
}

.no-bunches-hex-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.no-bunches-hex-content h3 {
  font-size: 1rem;
  text-align: center;
}

#update-alert-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  margin-bottom: 10vh;
}
#update-alert-container #update-notif {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--background);
  border: solid 2px var(--highlight, #393e41);
  border-radius: 3px;
  width: 32vw;
  height: 23vh;
  min-width: 150px;
  min-height: 80px;
  text-align: center;
}
#update-alert-container #update-notif .update-notif-btns {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
#update-alert-container #update-notif .update-notif-btns button {
  padding: 1px 3px;
  margin-bottom: 5px;
  border: solid 1px var(--highlight, #393e41);
  border-radius: 3px;
  background: none;
}
#update-alert-container #update-notif .update-notif-btns button:hover {
  cursor: pointer;
  background: var(--btn-hover, #9da5a9);
}