* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
  color: var(--text, #393e41);
}

::-moz-placeholder {
  color: var(--placeholder, #697277);
}

:-ms-input-placeholder {
  color: var(--placeholder, #697277);
}

::placeholder {
  color: var(--placeholder, #697277);
}

svg {
  fill: var(--highlight, #393e41);
}

::-webkit-scrollbar {
  width: 0px;
}

html,
body {
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  position: relative;
}

body {
  background: var(--background);
}

a {
  text-decoration: none;
}

.new-bunch-container {
  display: flex;
  justify-content: center;
  padding-top: 20vh;
  padding-bottom: 20vh;
  width: 100vw;
}

#new-bunch-form {
  width: 75%;
}

input {
  outline: none;
  border: none;
  background: none;
}

#title-input {
  border-bottom: 2px solid var(--highlight, #393e41);
  width: 100%;
  font-size: 2rem;
  margin-bottom: 5px;
}

#lang-select {
  display: flex;
  margin: 0.5rem 0 0.8rem 0;
  width: 100%;
  justify-content: space-between;
  padding-right: 1rem;
  padding-left: 1.3rem;
}
#lang-select select {
  background: none;
  border: 1px solid var(--highlight, #393e41);
  border-radius: 3px;
  width: 46.5%;
}

.pinyin-menu-content {
  display: flex;
  margin: 0.5rem 0 0.8rem 0;
  width: 70vw;
  justify-content: space-between;
  padding-right: 1rem;
  padding-left: 1.3rem;
}
.pinyin-menu-content p {
  display: inline;
}
.pinyin-menu-content .pinyin-half {
  background: none;
  width: 46.5%;
  display: flex;
  justify-content: space-around;
}

.pair {
  display: flex;
  margin: 0.5rem 0 0.8rem 0;
}
.pair p {
  padding: 0.3rem;
}
.pair .input-holder {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1rem;
}
.pair .input-holder input {
  border-bottom: 1px solid var(--highlight, #393e41);
  padding: 0.3rem;
  font-size: 1.2rem;
  width: 46.5%;
}

#submit-add-bar {
  display: flex;
  margin: 0.5rem 0 0.8rem 0;
  align-items: center;
  justify-content: space-between;
}
#submit-add-bar button {
  background: none;
  border: 2px solid var(--highlight, #393e41);
  border-radius: 3px;
  padding: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--highlight, #393e41);
}
#submit-add-bar button:hover {
  cursor: pointer;
  background: var(--btn-hover, #9da5a9);
}
#submit-add-bar .btn-holder {
  display: flex;
  flex-direction: row;
}
#submit-add-bar #clear-btn {
  margin-right: 0.5rem;
}
#submit-add-bar #export-btn {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
}
#submit-add-bar #export-btn svg {
  width: 2rem;
  height: 2rem;
}
#submit-add-bar #edit-pairs {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
}
#submit-add-bar #edit-pairs svg {
  width: 2rem;
  height: 2rem;
}
#submit-add-bar #plus {
  width: 2rem;
  height: 2rem;
}
#submit-add-bar #plus svg {
  width: 1rem;
  height: 1rem;
}

#back-btn {
  position: fixed;
  top: 5px;
  left: 5px;
}
#back-btn:hover {
  cursor: pointer;
}

#scroll-down-btn {
  position: fixed;
  bottom: 5px;
  right: 5px;
}
#scroll-down-btn:hover {
  cursor: pointer;
}

#scroll-up-btn {
  position: fixed;
  bottom: 5px;
  left: 5px;
}
#scroll-up-btn:hover {
  cursor: pointer;
}

#top-right-btn {
  position: fixed;
  top: 5px;
  right: 5px;
}
#top-right-btn:hover {
  cursor: pointer;
}

form {
  width: 70vw;
}

#import-form {
  position: fixed;
  width: 75vw;
  height: 75vh;
  top: 12.5vh;
  left: 12.5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}
#import-form textarea {
  font-size: 1.1rem;
  border-radius: 6px;
  padding: 0.1rem 0.5rem;
  border: 2px solid var(--highlight, #393e41);
  resize: none;
  background: none;
}
#import-form textarea:focus {
  outline: none;
}
#import-form #import-text {
  width: 80%;
  height: 60%;
}
#import-form #import-submit-btn {
  width: 30%;
  margin-top: 3%;
  background: none;
  border-radius: 3px;
  border: 2px solid var(--highlight, #393e41);
  padding: 0.1rem 0;
  outline: none;
}
#import-form #info-icon {
  width: 1.5rem;
  height: 1.5rem;
  border: 2px solid var(--highlight, #393e41);
  border-radius: 50%;
  margin-left: 0.2rem;
}
#import-form #import-info-menu {
  position: absolute;
  margin-left: 0.2rem;
  font-size: 1rem;
  width: 20vw;
}

.input-and-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.horizontal-container {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 2%;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input-container input {
  width: 60px;
  text-align: center;
  font-size: 1.1rem;
  border-radius: 6px;
  border: 2px solid var(--highlight, #393e41);
  padding: 0.1rem;
}

#export-menu {
  position: fixed;
  width: 75vw;
  height: 75vh;
  top: 12.5vh;
  left: 12.5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}
#export-menu textarea {
  font-size: 1.1rem;
  border-radius: 6px;
  padding: 0.1rem 0.5rem;
  border: 2px solid var(--highlight, #393e41);
  resize: none;
  background: none;
}
#export-menu textarea:focus {
  outline: none;
}
#export-menu #export-label {
  margin-bottom: 0.75rem;
}
#export-menu #export-text {
  width: 80%;
  height: 60%;
}
#export-menu #info-icon-export {
  width: 1.5rem;
  height: 1.5rem;
  border: 2px solid var(--highlight, #393e41);
  border-radius: 50%;
  margin-left: 0.2rem;
}
#export-menu #export-info-menu {
  position: absolute;
  margin-left: 0.2rem;
  font-size: 1rem;
  width: 20vw;
}

.pair-delete-btn {
  height: 24px;
}
.pair-delete-btn svg {
  pointer-events: none;
}
.pair-delete-btn:hover {
  cursor: pointer;
}

#title-valid-message {
  position: absolute;
  width: 80vw;
  left: 10vw;
  top: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#import-valid-message {
  position: fixed;
  width: 80vw;
  left: 10vw;
  top: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#delete-menu {
  position: absolute;
  width: 80vw;
  height: 15vh;
  left: 10vw;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#delete-menu #delete-btns-container {
  margin-top: 1.5vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#delete-menu #delete-btns-container button {
  background: none;
  border: solid 2px var(--highlight, #393e41);
  border-radius: 3px;
  width: 10%;
  padding: 0.1rem;
}
#delete-menu #delete-btns-container button:hover {
  cursor: pointer;
  background: var(--btn-hover, #9da5a9);
}

.hide {
  visibility: hidden;
}

.undisplay {
  display: none;
}

/* The container */
.checkbox-container {
  display: block;
  position: relative;
  margin-right: 2.5vw;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1.2rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.2rem;
  width: 1.2rem;
  background-color: var(--highlight, #393e41);
  border-radius: 3px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 0.38rem;
  top: 0.18rem;
  width: 0.24rem;
  height: 0.48rem;
  border: solid var(--background, #e7e6e1);
  border-width: 0 0.2rem 0.2rem 0;
  transform: rotate(45deg);
}