* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: monospace;
  color: var(--text, #393e41);
}

::-webkit-input-placeholder {
  color: var(--placeholder, #697277);
}

:-ms-input-placeholder {
  color: var(--placeholder, #697277);
}

::-ms-input-placeholder {
  color: var(--placeholder, #697277);
}

::placeholder {
  color: var(--placeholder, #697277);
}

svg {
  fill: var(--highlight, #393e41);
}

::-webkit-scrollbar {
  width: 0px;
}

html,
body {
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  position: relative;
}

body {
  background: var(--background);
}

a {
  text-decoration: none;
}

.new-bunch-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 25vh;
  padding-bottom: 25vh;
}

input {
  outline: none;
  border: none;
  background: none;
}

#title-input {
  border-bottom: 2px solid var(--highlight, #393e41);
  width: 100%;
  font-size: 2rem;
  margin-bottom: 5px;
}

.pair {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5rem 0 0.8rem 0;
}

.pair p {
  padding: 0.3rem;
}

.pair .input-holder {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 1rem;
}

.pair .input-holder input {
  border-bottom: 1px solid var(--highlight, #393e41);
  padding: 0.3rem;
  font-size: 1.2rem;
  width: 46%;
}

.pair .spacer {
  width: 3rem;
}

#submit-add-bar {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#submit-add-bar button {
  background: none;
  border: 2px solid var(--highlight, #393e41);
  border-radius: 3px;
  padding: 0.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--highlight, #393e41);
}

#submit-add-bar button:hover {
  cursor: pointer;
  background: var(--btn-hover, #9da5a9);
}

#submit-add-bar .btn-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#submit-add-bar #clear-btn {
  margin-right: 0.5rem;
}

#submit-add-bar #edit-pairs {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
}

#submit-add-bar #edit-pairs svg {
  width: 2rem;
  height: 2rem;
}

#submit-add-bar #plus {
  width: 2rem;
  height: 2rem;
}

#submit-add-bar #plus svg {
  width: 1rem;
  height: 1rem;
}

#back-btn {
  position: fixed;
  top: 5px;
  left: 5px;
}

#top-right-btn {
  position: fixed;
  top: 5px;
  right: 5px;
}

#top-right-btn:hover {
  cursor: pointer;
}

form {
  width: 70vw;
}

#import-form {
  position: fixed;
  width: 75vw;
  height: 75vh;
  top: 12.5vh;
  left: 12.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 6px;
}

#import-form textarea {
  font-size: 1.1rem;
  border-radius: 6px;
  padding: 0.1rem;
  border: 2px solid var(--highlight, #393e41);
  resize: none;
  background: none;
}

#import-form textarea:focus {
  outline: none;
}

#import-form #import-text {
  width: 80%;
  height: 60%;
}

#import-form .horizontal-container {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2%;
}

#import-form .input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#import-form .input-container input {
  width: 60px;
  text-align: center;
  font-size: 1.1rem;
  border-radius: 6px;
  border: 2px solid var(--highlight, #393e41);
  padding: 0.1rem;
}

#import-form #import-submit-btn {
  width: 30%;
  margin-top: 3%;
  background: none;
  border-radius: 3px;
  border: 2px solid var(--highlight, #393e41);
  padding: 0.1rem 0;
  outline: none;
}

#import-form #info-icon {
  width: 1.5rem;
  height: 1.5rem;
  border: 2px solid var(--highlight, #393e41);
  border-radius: 50%;
  margin-left: 0.2rem;
}

#import-form .input-and-icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#import-form #import-info-menu {
  position: absolute;
  margin-left: 0.2rem;
  font-size: 1rem;
  width: 20vw;
}

.pair-delete-btn {
  height: 24px;
}

.pair-delete-btn svg {
  pointer-events: none;
}

.pair-delete-btn:hover {
  cursor: pointer;
}

#delete-menu {
  position: absolute;
  width: 80vw;
  height: 15vh;
  left: 10vw;
  bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#delete-menu #delete-btns-container {
  margin-top: 1.5vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#delete-menu #delete-btns-container button {
  background: none;
  border: solid 2px var(--highlight, #393e41);
  border-radius: 3px;
  width: 10%;
  padding: 0.1rem;
}

#delete-menu #delete-btns-container button:hover {
  cursor: pointer;
  background: var(--btn-hover, #9da5a9);
}

.hide {
  visibility: hidden;
}

.undisplay {
  display: none;
}
