* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: monospace;
  color: var(--text, #393e41);
}

body {
  background: var(--background);
}

::-webkit-input-placeholder {
  color: var(--placeholder, #697277);
}

:-ms-input-placeholder {
  color: var(--placeholder, #697277);
}

::-ms-input-placeholder {
  color: var(--placeholder, #697277);
}

::placeholder {
  color: var(--placeholder, #697277);
}

svg {
  fill: var(--highlight, #393e41);
}

input {
  background: none;
}

a {
  text-decoration: none;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-container {
  margin-top: calc(-41.785px / 2);
  width: 100vw;
  height: 100vh;
}

.hex-btn {
  width: 45px;
  height: 45px;
  margin-left: -4.06px;
  margin-right: -4.06px;
}

.hex-btn .hex-center {
  top: 2px;
  left: 2px;
  width: calc(100% - (2px * 2));
  height: calc(100% - (2px * 2));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.edit-icons-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: calc(25% - 20px);
}

.edit-icons-container a {
  margin: 0 0.3rem;
}

.edit-icons-container .delete-btn:hover {
  cursor: pointer;
}

.edit-icons-container .delete-btn svg {
  pointer-events: none;
}

#delete-menu {
  position: absolute;
  width: 80%;
  height: 15%;
  left: 10%;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#delete-menu #delete-btns-container {
  margin-top: 1.5vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#delete-menu #delete-btns-container button {
  background: none;
  border: solid #393e41 2px;
  border-radius: 3px;
  width: 10%;
  padding: 0.1rem;
}

#delete-menu #delete-btns-container button:hover {
  cursor: pointer;
  background: var(--btn-hover, #9da5a9);
}

#settings-btn {
  position: absolute;
  bottom: 5px;
  right: 8px;
}

#new-bunch-btn {
  position: absolute;
  top: 5px;
  left: 7px;
}

#edit-bunch-btn {
  position: absolute;
  bottom: 5px;
  left: 10px;
}

#search-bunch-btn {
  position: absolute;
  top: 5px;
  right: 8px;
}

#search-bunch-btn:hover {
  cursor: pointer;
}

#search-input {
  position: absolute;
  top: 8px;
  right: 34px;
  text-align: left;
  padding: 0.1rem;
  min-width: 50px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  border-bottom: solid 1px #393e41;
}

#search-input:focus {
  outline: none;
}

#no-matches {
  text-align: center;
}

.hex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: -41.785px;
}

.hex-container {
  width: 150px;
  height: 150px;
  margin-left: -12.7px;
  margin-right: -12.7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hex {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  /* width * 0.866 */
  background: var(--highlight, #393e41);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  clip-path: polygon(6.7% 25%, 6.7% 75%, 50% 100%, 93.3% 75%, 93.3% 25%, 50% 0%);
  -webkit-clip-path: polygon(6.7% 25%, 6.7% 75%, 50% 100%, 93.3% 75%, 93.3% 25%, 50% 0%);
  -moz-clip-path: polygon(6.7% 25%, 6.7% 75%, 50% 100%, 93.3% 75%, 93.3% 25%, 50% 0%);
}

.hex-center {
  position: absolute;
  background-color: var(--primary, #e7e6e1);
  top: 5px;
  left: 5px;
  width: calc(100% - (5px * 2));
  height: calc(100% - (5px * 2));
  clip-path: polygon(6.7% 25%, 6.7% 75%, 50% 100%, 93.3% 75%, 93.3% 25%, 50% 0%);
  -webkit-clip-path: polygon(6.7% 25%, 6.7% 75%, 50% 100%, 93.3% 75%, 93.3% 25%, 50% 0%);
  -moz-clip-path: polygon(6.7% 25%, 6.7% 75%, 50% 100%, 93.3% 75%, 93.3% 25%, 50% 0%);
}

.hex-content {
  position: absolute;
  margin-top: 25%;
  margin-left: 6.7%;
  width: 86.6%;
  height: 50%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hex-content h3 {
  font-size: 1.3rem;
}

.hex-content p {
  font-size: 1rem;
  margin-top: 0.5rem;
}

.hex-center:hover {
  background: var(--secondary, #c8c6c6);
}

.scroll-btn {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: none;
  border: none;
  top: calc(50% - 24px);
}

#scroll-forward {
  right: 1rem;
}

#scroll-back {
  left: 1rem;
}

.hide {
  visibility: hidden;
}

.no-bunches-hex-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.no-bunches-hex-content h3 {
  font-size: 1.3rem;
  text-align: center;
}
